openapi: 3.1.0
info:
  title: Dyocense Decision Kernel API
  version: 1.0.0
servers:
  - url: https://api.dyocense.ai
paths:
  /v1/compile:
    post:
      summary: Compile a natural-language goal and data profile into an OPS JSON
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                goal: { type: string }
                data_profiles: { type: object }
                tables: { type: array, items: { type: object } }
              required: [goal]
      responses:
        "200":
          description: OPS
          content:
            application/json:
              schema:
                $ref: '../schemas/ops.schema.json'
  /v1/optimise:
    post:
      summary: Solve an OPS using OR solvers and return a SolutionPack
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '../schemas/ops.schema.json'
      responses:
        "200":
          description: SolutionPack
          content:
            application/json:
              schema:
                $ref: '../schemas/solutionpack.schema.json'
  /v1/forecast:
    post:
      summary: Forecast time series with optional exogenous inputs
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                series: { type: array, items: { type: number } }
                horizon: { type: integer }
                exogenous: { type: object }
              required: [series, horizon]
      responses:
        "200":
          description: Forecast output
          content:
            application/json:
              schema:
                type: object
                properties:
                  point: { type: array, items: { type: number } }
                  low: { type: array, items: { type: number } }
                  high: { type: array, items: { type: number } }
                  model: { type: string }
  /v1/explain:
    post:
      summary: Explain a SolutionPack in plain English with what-if levers
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                ops: { $ref: '../schemas/ops.schema.json' }
                pack: { $ref: '../schemas/solutionpack.schema.json' }
      responses:
        "200":
          description: Explanation
          content:
            application/json:
              schema:
                type: object
                properties:
                  summary: { type: string }
                  what_ifs: { type: array, items: { type: string } }
  /v1/diagnose:
    post:
      summary: Diagnose infeasibility and propose minimal relaxations
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                ops: { $ref: '../schemas/ops.schema.json' }
                context: { type: object }
      responses:
        "200":
          description: Relaxation suggestions
          content:
            application/json:
              schema:
                type: object
                properties:
                  suggestions: { type: array, items: { type: string } }
  /v1/catalog:
    get:
      summary: List available archetypes, solvers, connectors and limits
      responses:
        "200":
          description: Catalog
          content:
            application/json:
              schema:
                type: object
                additionalProperties: true
